// soviet
section.soviet
  .soviet__container
    h2.soviet__title= langText[18]
  .soviet__wrapper
    .soviet__container
      blockquote.soviet-bq
        .soviet-bq__header
          cite= langText[21]
            img.soviet-bq__author-country--indonesia(src="images/sprite/soviet-item__flag--indonesia.png", alt="Индонезия")
          span.soviet-bq__income= langText[22]
        .soviet-bq__content
          img(src="images/soviet-item__avatar--imran.jpg", alt="Imran Subagyo")
          p.soviet-bq__text= langText[20]

      blockquote.soviet-bq
        .soviet-bq__header
          cite= langText[21]
            img.soviet-bq__author-country--thailand(src="images/sprite/soviet-item__flag--thailand.png", alt="Тайланд")
          span.soviet-bq__income= langText[25]
        .soviet-bq__content
          img(src="images/soviet-item__avatar--jamnong.jpg", alt="Jamnong Suraphong")
          p.soviet-bq__text= langText[23]

      blockquote.soviet-bq
        .soviet-bq__header
          cite= langText[27]
            img.soviet-bq__author-country--saudi-arabia(src="images/sprite/soviet-item__flag--saudi-arabia.png", alt="Саудовская Аравия")
          span.soviet-bq__income= langText[28]
        .soviet-bq__content
          img(src="images/soviet-item__avatar--walid.jpg", alt="Walid Aljaber")
          p.soviet-bq__text= langText[26]
