// advantages
section.advantages
  .advantages__container
    h2.advantages__title= langText[12]

    ul.advantages__list
      li.advantages__item-wrap
        .advantages__item
          i.advantages__item--dollar
        span.advantages__item-text= langText[13]
      li.advantages__item-wrap
        .advantages__item
          i.advantages__item--purse
        span.advantages__item-text= langText[14]
      li.advantages__item-wrap
        .advantages__item
          i.advantages__item--support
        span.advantages__item-text= langText[15]
      li.advantages__item-wrap
        .advantages__item
          i.advantages__item--iphone
        span.advantages__item-text= langText[16]
      li.advantages__item-wrap
        .advantages__item
          i.advantages__item--discount
        span.advantages__item-text= langText[17]
